.body {
  font-family: var(--primary-font);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);
  background-color: var(--body-bg-cl);
}
:root {
  /* Fonts */
  --primary-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;
  /* Colors */
  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-navy-blue: #2e2f42;
  --color-green: #31d0aa;
  --color-slate: #434455;
  --color-light-slate: #8e8f99;
  --color-cornflower: #e7e9fc;
  --color-cloud: #f4f4fd;
  --color-navy-blue-modal: #2e2f42;
  --color-grey: #2e2f42;
  --color-white: #ffffff;
  --color-dairy: #fcfcfc;
  --color-ocean: #404bbf;
  --color-btn-filter: #4d5ae5;
  --btn-filter-active-cl: #ffffff;
  --portfolio-title-cl: #2e2f42;
  --portfolio-text-cl: #434455;
  --logo-cl: #4d5ae5;
  --logo-list-cl: #2e2f42;
  /* accent-color*/
  --accent-color: #404bbf;
  /* BG colors */
  --body-bg-cl: #ffffff;
  --hero-bg-cl: #2e2f42;
  --team-bg-cl: #f4f4fd;
  --footer-bg-cl: #2e2f42;
  --portfolio-bg-cl: var(--color-white);
  --btn-filter-bg: #f4f4fd;
  --btn-filter-bg-active: #404bbf;
}
.header {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-iris);
  text-decoration: none;
  font-style: normal;
}
.address {
}
.header-nav {
}
.header-logo {
  color: var(--color-iris);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.header-logo-two {
  color: var(--color-navy-blue);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.header-list {
}
.list {
  list-style: none;
}
.header-item {
}
.header-link {
  color: var(--color-navy-blue);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.header-link:hover {
  color: var(--color-ocean);
}
.header-link:focus {
  color: var(--color-ocean);
}
.link {
  text-decoration: none;
}
.link-mail {
}
.link-phone-number {
}
.hero {
  background-color: #2e2f42;
}
.hero-tittle {
  color: #ffffff;
}
.hero-btn {
}
